In [11]:
import pandas as pd
import os
import numpy as np

In [12]:
# Input: demographic 
# Uotput: demographic fetchers

In [13]:
path = os.path.dirname(os.path.abspath(os.curdir))

In [14]:
path

'C:\\Users\\odeds\\PycharmProjects\\ML_Project'

In [15]:
data_path = os.path.join(path, 'data','demo','demographic.csv')

In [16]:
data_path

'C:\\Users\\odeds\\PycharmProjects\\ML_Project\\data\\demo\\demographic.csv'

In [17]:
df = pd.read_csv(data_path)

C:\Users\odeds\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df = df.drop(['Unnamed: 0', 'device-id'], axis=1)

In [20]:
# df.head(10)
df = df.drop_duplicates()

In [21]:
print(df.columns.shape)
print(df.columns)

(53,)
Index(['Household ID', 'Household size', 'Number of Adults',
       'Number of Generations in Household',
       'Adult ranges present in household', 'Marital Status', 'Race Code',
       'Presence of Children', 'Number of Children', 'Children's Ages',
       'Children's age ranges', 'Dwelling Type', 'Home owner status',
       'Length of Residence', 'Home Market Value', 'Number of Vehicles',
       'Vehicle Make Code', 'Vehicle Model Code', 'Vehicle Year', 'Net Worth',
       'Income', 'Gender Individual', 'Age of individuals',
       'Education Input Individuals', 'Occupation Input Individuals',
       'Education of 1st Individual', 'Occupation - 1st Individual',
       'Age of the 2nd individual', 'Education of 2nd Individual',
       'Occupation - 2nd Individual', 'Age of the 3rd individual',
       'Education of 3rd Individual', 'Occupation - 3rd Individual',
       'Age of 4th Individual', 'Age of 4th Individual.1',
       'Occupation - 4th Individual', 'Age of 5th Individual',
       'Education of 5th Individual', 'Occupation - 5th Individual',
       'Political Party - 1st Individual', 'Voter/Party', 'Household Clusters',
       'Insurance Groups', 'Financial Groups', 'Green Living', 'dma',
       'dma-code', 'household-id', 'household-type', 'mso_code', 'mso_name',
       'system-type', 'zipcode'],
      dtype='object')

In [22]:
df = df.rename(index=str, columns={"Age of 4th Individual.1": "Education 4th Individual"})

In [23]:
# 'Household size' ->

df['Household size'] = df['Household size'].astype('str') 
temp_map = {'1.0': '1_person_in_house', '2.0':'2_person_in_house', '3.0': '3_person_in_house', '4.0': '4_person_in_house', '5.0': '5_person_in_house', '6.0': '6_person_in_house', '7.0': '7_person_in_house', '8.0': '8_person_in_house', '9.0': 'up_8_person_in_house'}
df['Household size'] = df['Household size'].map(temp_map)
temp_df = pd.get_dummies(df['Household size'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('household_size_default')
df = pd.concat([df.drop('Household size', axis=1), temp_df], axis=1)

In [24]:
# Number of Adults

df['Number of Adults'] = df['Number of Adults'].astype('str') 
temp_map = {'1.0': '1_adults', '2.0':'2_adults', '3.0': '3_adults', '4.0': '4_adults', '5.0': '5_adults', '6.0': 'up_6_adults' }
df['Number of Adults'] = df['Number of Adults'].map(temp_map)
temp_df = pd.get_dummies(df['Number of Adults'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('number_adults_default')
df = pd.concat([df.drop('Number of Adults', axis=1), temp_df], axis=1)

In [25]:
# df['Number of Children']

df['Number of Children'] = df['Number of Children'].astype('str') 
temp_map = {'0.0': 'no_child', '1.0': '1_children', '2.0':'2_children', '3.0': '3_children', '4.0': '4_children', '5.0': '5_children', '6.0': '6_children','7.0':'7_children','8.0':'up_7_children' }
df['Number of Children'] = df['Number of Children'].map(temp_map)
temp_df = pd.get_dummies(df['Number of Children'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('number_children_default')
df = pd.concat([df.drop('Number of Children', axis=1), temp_df], axis=1)

In [26]:
# 'Number of Generations in Household'

df['Number of Generations in Household'] = df['Number of Generations in Household'].astype('str') 
temp_map = {'1.0': '1_generations', '2.0':'2_generations', '3.0': '3_generations'  }
df['Number of Generations in Household'] = df['Number of Generations in Household'].map(temp_map)
temp_df = pd.get_dummies(df['Number of Generations in Household'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('number_generations_default')
df = pd.concat([df.drop('Number of Generations in Household', axis=1), temp_df], axis=1)

In [27]:
# column 'Adult ranges present in household' -> 21 columns
columns = ['males18-24','females18-24','unknown_gender18-24','males25-34','females25-34','unknown_gender25-34','males35-44','females35-44','unknown_gender35-44','males45-54','females45-54','unknown_gender45-54','males55-64','females55-64','unknown_gender55-64','males65-74','females65-74','unknown_gender65-74','males75','females75','unknown_gender75']
for i in range(21):
    df[columns[i]] = df['Adult ranges present in household'].str[i:i+1]

df = df.drop(['Adult ranges present in household'], axis=1)

In [28]:
# column 'Marital Status' -> married, single, inferred_married, inferred_single, marital_status-default
temp_map = {'M': 'married', 'S': 'single','A': 'inferred_married' ,'B': 'inferred_single'}
df['Marital Status'] = df['Marital Status'].map(temp_map)

temp_df = pd.get_dummies(df['Marital Status'],dummy_na=True)

temp_df.columns = temp_df.columns.fillna('marital_status_default')

df = pd.concat([df.drop('Marital Status', axis=1), temp_df], axis=1)


# values = {'Marital Status': 'ZZ'}
# df = df.fillna(value=values)
# columns = ['married', 'single', 'inferred_married', 'inferred_single', 'marital_status_default']
# values = ['M','S','A','B','ZZ' ]
# for i in range(5):
#     df[columns[i]] = 0
#     df.loc[df['Marital Status'] == values[i], columns[i]] = 1
    
# df = df.drop(['Marital Status'], axis=1)

In [29]:
# column 'Race Code' -> asian, african_american, hispanic, White_Other, race_default
temp_map = {'A': 'asian','B': 'african_american','H': 'hispanic','W': 'White_Other'}
df['Race Code'] = df['Race Code'].map(temp_map)

temp_df = pd.get_dummies(df['Race Code'],dummy_na=True)

temp_df.columns = temp_df.columns.fillna('race_default')

df = pd.concat([df.drop('Race Code', axis=1), temp_df], axis=1)

In [30]:
# 'Presence of Children' ->  'no_child', 'children', 'children_default'
temp_map = {'N': 'no_child', 'Y': 'children'}
df['Presence of Children'] = df['Presence of Children'].map(temp_map)

temp_df = pd.get_dummies(df['Presence of Children'],dummy_na=True)

temp_df.columns = temp_df.columns.fillna('children_default')
df = pd.concat([df.drop('Presence of Children', axis=1), temp_df], axis=1)

In [31]:
# column 'Children's Ages' -> 19 columns
df["Children's Ages"] = df["Children's Ages"].astype('str').str.pad(19, side='left', fillchar='0')

columns = ['age < 1','age_1','age_2','age_3','age_4','age_5','age_6','age_7','age_8','age_9','age_10','age_11','age_12','age_13','age_14','age_15','age_16','age_17','age_18']
for i in range(19):
    df[columns[i]] = df["Children's Ages"].str[i:i+1]

df = df.drop(["Children's Ages"], axis=1)

In [32]:
# column 'Children's age ranges' -> 15 columns
df["Children's age ranges"] = df["Children's age ranges"].astype('str').str.pad(15, side='left', fillchar='0')

columns = ['males_00-02','females_00-02','unknown_gender_00-02', 'males_03-05','females_03-05','unknown_gender_03-05', 'males_06-10','females_06-10','unknown_gender_06-10', 'males_11-15','females_11-15','unknown_gender_11-15', 'males_16-17','females_16-17','unknown_gender_16-17' ]
for i in range(15):
    df[columns[i]] = df["Children's age ranges"].str[i:i+1]
    
df = df.drop(["Children's age ranges"], axis=1)

In [33]:
# Dwelling Type - > 'multiple_family_dwelling_unit', 'single_family_dwelling_unit', 'dwelling_type_default'
temp_map = {'M': 'multiple_family_dwelling_unit','S':'single_family_dwelling_unit'}
df['Dwelling Type'] = df['Dwelling Type'].map(temp_map)
temp_df = pd.get_dummies(df['Dwelling Type'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('dwelling_type_default')
df = pd.concat([df.drop('Dwelling Type', axis=1), temp_df], axis=1)

In [34]:
# Home owner status -> 'home_owner', 'renter', 'home_owner_default'
temp_map = {'O': 'home_owner' ,'R':'renter'}
df['Home owner status'] = df['Home owner status'].map(temp_map)
temp_df = pd.get_dummies(df['Home owner status'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('home_owner_default')
df = pd.concat([df.drop('Home owner status', axis=1), temp_df], axis=1)

In [35]:
# Length of Residence -> 16
df['Length of Residence'] = df['Length of Residence'].astype('str') 
temp_map = {'0.0' : 'less_year_in_house', '1.0': '1_year_in_house', '2.0':'2_year_in_house', '3.0': '3_year_in_house', '4.0': '4_year_in_house', '5.0': '5_year_in_house', '6.0': '6_year_in_house', '7.0': '7_year_in_house', '8.0': '8_year_in_house', '9.0': '9_year_in_house', '10.0': '10_year_in_house', '11.0': '11_year_in_house', '12.0': '12_year_in_house', '13.0': '13_year_in_house', '14.0': '14_year_in_house', '15.0': 'greater14_year_in_house'}
df['Length of Residence'] = df['Length of Residence'].map(temp_map)
temp_df = pd.get_dummies(df['Length of Residence'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('length_of_residence_default')
df = pd.concat([df.drop('Length of Residence', axis=1), temp_df], axis=1)

In [36]:
# Home Market Value -> 10

temp_map = {'A' : 'home_market_A','B': 'home_market_A', 'C':'home_market_B', 'D': 'home_market_B', 'E': 'home_market_C', 'F': 'home_market_C', 'G': 'home_market_D', 'H': 'home_market_D', 'I': 'home_market_E', 'J': 'home_market_E', 'K': 'home_market_G', 'L': 'home_market_G', 'M': 'home_market_H', 'N': 'home_market_H', 'O': 'home_market_I', 'P': 'home_market_I','Q': 'home_market_J', 'R': 'home_market_J', 'S': 'home_market_K'}
df['Home Market Value'] = df['Home Market Value'].map(temp_map)
temp_df = pd.get_dummies(df['Home Market Value'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('home_market_default')
df = pd.concat([df.drop('Home Market Value', axis=1), temp_df], axis=1)

In [37]:
# Number of Vehicles -> 1_car, 2_cars, 3_or_more_cars, car_default
df['Number of Vehicles'] = df['Number of Vehicles'].astype('str')
temp_map = {'1.0': '1_car', '2.0':'2_cars','3.0':'3_or_more_cars' }

df['Number of Vehicles'] = df['Number of Vehicles'].map(temp_map)
temp_df = pd.get_dummies(df['Number of Vehicles'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('car_default')
df = pd.concat([df.drop('Number of Vehicles', axis=1), temp_df], axis=1)

In [38]:
df = df.drop('Vehicle Make Code', axis=1)
df = df.drop('Vehicle Model Code', axis=1)

In [39]:
# Vehicle Year -> 3
temp_df = pd.get_dummies(pd.cut(df['Vehicle Year'], 3, labels=["old_car", "medium_car", "new_car"]),dummy_na=True)
temp_df.columns = temp_df.columns.fillna('car_year_default')
df = pd.concat([df.drop('Vehicle Year', axis=1), temp_df], axis=1)

In [40]:
# Net Worth -> 3
temp_df = pd.get_dummies(pd.cut(df['Net Worth'], 3, labels=["poor", "middle_class", "rich"]),dummy_na=True)
temp_df.columns = temp_df.columns.fillna('net_worth_default')
df = pd.concat([df.drop('Net Worth', axis=1), temp_df], axis=1)

In [41]:
# Income
temp_map = {'A': 10, 'B':11 ,'C':12, 'D':13 }
df['Income'] = df['Income'].apply(lambda x: temp_map.get(x, x))

temp_df = pd.get_dummies(df['Income'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('income_default')
df = pd.concat([df.drop('Income', axis=1), temp_df], axis=1)

In [42]:
# Gender Individual
temp_map = {'M': 'male', 'F':'female'}

df['Gender Individual'] = df['Gender Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Gender Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('gender_default')
df = pd.concat([df.drop('Gender Individual', axis=1), temp_df], axis=1)

In [43]:
# Age of individuals -> 10 + default
labels = np.arange(10,100,10)
labels = ['age_individual_'+str(x) for x in labels]

temp_df = pd.cut(df['Age of individuals'],range(10,110,10),labels=labels )
temp_df = pd.get_dummies(temp_df,dummy_na=True)
temp_df.columns = temp_df.columns.fillna('age_individuals_default')
df = pd.concat([df.drop('Age of individuals', axis=1), temp_df], axis=1)

In [44]:
# Education Input Individuals
df['Education Input Individuals'] = df['Education Input Individuals'].astype('str')
temp_map = {'1.0': 'individuals_low_education', '2.0':'individuals_middle_education','3.0': 'individuals_middle-high_education', '4.0': 'individuals_high_education'}

df['Education Input Individuals'] = df['Education Input Individuals'].map(temp_map)
temp_df = pd.get_dummies(df['Education Input Individuals'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_individuals_default')
df = pd.concat([df.drop('Education Input Individuals', axis=1), temp_df], axis=1)

In [45]:
df = df.drop(['Occupation Input Individuals','Occupation - 1st Individual','Occupation - 2nd Individual','Occupation - 3rd Individual','Occupation - 4th Individual','Occupation - 5th Individual'],axis=1)

In [46]:
# 'Education of 1st Individual'
df['Education of 1st Individual'] = df['Education of 1st Individual'].astype('str')
temp_map = {'1.0': 'individuals_1st_low_education', '2.0':'individuals_1st_middle_education','3.0': 'individuals_1st_middle-high_education', '4.0': 'individuals_1st_high_education'}

df['Education of 1st Individual'] = df['Education of 1st Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Education of 1st Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_1st_individuals_default')
df = pd.concat([df.drop('Education of 1st Individual', axis=1), temp_df], axis=1)

In [47]:
# 'Education of 2nd Individual'
df['Education of 2nd Individual'] = df['Education of 2nd Individual'].astype('str')
temp_map = {'1.0': 'individuals_2nd_low_education', '2.0':'individuals_2nd_middle_education','3.0': 'individuals_2nd_middle-high_education', '4.0': 'individuals_2nd_high_education'}

df['Education of 2nd Individual'] = df['Education of 2nd Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Education of 2nd Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_2nd_individuals_default')
df = pd.concat([df.drop('Education of 2nd Individual', axis=1), temp_df], axis=1)

In [48]:
# 'Education of 3rd Individual'
df['Education of 3rd Individual'] = df['Education of 3rd Individual'].astype('str')
temp_map = {'1.0': 'individuals_3rd_low_education', '2.0':'individuals_3rd_middle_education','3.0': 'individuals_3rd_middle-high_education', '4.0': 'individuals_3rd_high_education'}

df['Education of 3rd Individual'] = df['Education of 3rd Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Education of 3rd Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_3rd_individuals_default')
df = pd.concat([df.drop('Education of 3rd Individual', axis=1), temp_df], axis=1)

In [49]:
# 'Education of 4th Individual'
df['Education 4th Individual'] = df['Education 4th Individual'].astype('str')
temp_map = {'1.0': 'individuals_4th_low_education', '2.0':'individuals_4th_middle_education','3.0': 'individuals_4th_middle-high_education', '4.0': 'individuals_4th_high_education'}

df['Education 4th Individual'] = df['Education 4th Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Education 4th Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_4th_individuals_default')
df = pd.concat([df.drop('Education 4th Individual', axis=1), temp_df], axis=1)

In [50]:
# 'Education of 5th Individual'
df['Education of 5th Individual'] = df['Education of 5th Individual'].astype('str')
temp_map = {'1.0': 'individuals_5th_low_education', '2.0':'individuals_5th_middle_education','3.0': 'individuals_5th_middle-high_education', '4.0': 'individuals_5th_high_education'}

df['Education of 5th Individual'] = df['Education of 5th Individual'].map(temp_map)
temp_df = pd.get_dummies(df['Education of 5th Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('education_5th_individuals_default')
df = pd.concat([df.drop('Education of 5th Individual', axis=1), temp_df], axis=1)

In [51]:
# Age of the 2nd individual -> 10 + default
labels = np.arange(10,100,10)
labels = ['age_2_individual_'+str(x) for x in labels]

temp_df = pd.cut(df['Age of the 2nd individual'],range(10,110,10),labels=labels )
temp_df = pd.get_dummies(temp_df,dummy_na=True)
temp_df.columns = temp_df.columns.fillna('age_2_individuals_default')
df = pd.concat([df.drop('Age of the 2nd individual', axis=1), temp_df], axis=1)

In [52]:
# Age of the 3rd individual -> 10 + default
labels = np.arange(10,100,10)
labels = ['age_3_individual_'+str(x) for x in labels]

temp_df = pd.cut(df['Age of the 3rd individual'],range(10,110,10),labels=labels )
temp_df = pd.get_dummies(temp_df,dummy_na=True)
temp_df.columns = temp_df.columns.fillna('age_3_individuals_default')
df = pd.concat([df.drop('Age of the 3rd individual', axis=1), temp_df], axis=1)

# Age of 4th Individual -> 10 + default
labels = np.arange(10,100,10)
labels = ['age_4_individual_'+str(x) for x in labels]

temp_df = pd.cut(df['Age of 4th Individual'],range(10,110,10),labels=labels )
temp_df = pd.get_dummies(temp_df,dummy_na=True)
temp_df.columns = temp_df.columns.fillna('age_4_individuals_default')
df = pd.concat([df.drop('Age of 4th Individual', axis=1), temp_df], axis=1)

# Age of 5th Individual -> 10 + default
labels = np.arange(10,100,10)
labels = ['age_5_individual_'+str(x) for x in labels]

temp_df = pd.cut(df['Age of 5th Individual'],range(10,110,10),labels=labels )
temp_df = pd.get_dummies(temp_df,dummy_na=True)
temp_df.columns = temp_df.columns.fillna('age_5_individuals_default')
df = pd.concat([df.drop('Age of 5th Individual', axis=1), temp_df], axis=1)

In [53]:
# 'Political Party - 1st Individual'
temp_map = {'V': 'political_registered_no_party', 'R':'political_registered_republican' ,'D':'political_registered_democrat', 'I':'political_registered_independent' }
df['Political Party - 1st Individual'] = df['Political Party - 1st Individual'].map(temp_map)

temp_df = pd.get_dummies(df['Political Party - 1st Individual'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('political_registered_default')
df = pd.concat([df.drop('Political Party - 1st Individual', axis=1), temp_df], axis=1)

In [54]:
# 'Voter/Party'
temp_map = {'V': 'political_individual_input_no_party', 'R':'political_individual_input_republican' ,'D':'political_individual_input_democrat', 'I':'political_individual_input_independent' }
df['Voter/Party'] = df['Voter/Party'].map(temp_map)

temp_df = pd.get_dummies(df['Voter/Party'],dummy_na=True)
temp_df.columns = temp_df.columns.fillna('political_individual_input_default')
df = pd.concat([df.drop('Voter/Party', axis=1), temp_df], axis=1)

In [55]:
df = df.drop(['Household Clusters', 'Insurance Groups', 'Financial Groups', 'Green Living', 'dma', 'dma-code', 'household-id', 'household-type', 'mso_code',
       'mso_name', 'system-type', 'zipcode'],axis=1)

In [59]:
df.to_csv('demographic_features.csv')

In [57]:
df.isnull().values.any()

False

In [58]:
df

,Household ID,1_person_in_house,2_person_in_house,3_person_in_house,4_person_in_house,5_person_in_house,6_person_in_house,7_person_in_house,8_person_in_house,up_8_person_in_house,...,political_registered_democrat,political_registered_independent,political_registered_no_party,political_registered_republican,political_registered_default,political_individual_input_democrat,political_individual_input_independent,political_individual_input_no_party,political_individual_input_republican,political_individual_input_default
0,15,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,28,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5,35,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
8,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
9,40,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
11,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
13,48,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14,56,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
15,61,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
16,85,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17,98,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
20,99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
22,109,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
25,111,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
27,117,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
29,120,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
30,122,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
31,126,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
33,129,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
34,130,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
36,135,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
38,140,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
40,145,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
42,151,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
43,153,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
47,160,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
48,169,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
51,172,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
52,177,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577108,3879098,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577111,3879101,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577113,3879105,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
577115,3879116,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
577118,3879119,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
577119,3879126,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577120,3879138,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
577123,3879139,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577125,3879141,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577127,3879143,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577129,3879156,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
577131,3879177,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
577132,3879189,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577134,3879191,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577135,3879195,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577137,3879221,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577139,3879223,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
577141,3879235,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
577142,3879245,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
577144,3879295,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
577145,3879306,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
577146,3879324,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
577148,3879335,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
577151,3879363,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577152,3879379,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577156,3879384,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
577157,3879386,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
577159,3879387,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
577160,3879393,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
577161,3879396,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1